# Brevo API Configuration
# Get your API key from: https://app.brevo.com/settings/keys/api

# Your Brevo API Key
BREVO_API_KEY=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

# Server Port (optional, default: 3000)
PORT=3000

# Email settings
SENDER_EMAIL=noreply@stuhlstefan.de
SUPPORT_EMAIL=kontakt@stuhlstefan.de
